# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment files
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# TypeScript
*.tsbuildinfo

# TypeORM
src/migrations/*.js

# Misc
.cache/
.temp/
.tmp/